<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiprodutosbailo-emgaegagech8fybt.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>5d656a69-9599-46f1-9d6c-822b96996faa</ProjectGuid>
    <PublishUrl>https://apiprodutosbailo-emgaegagech8fybt.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$ApiProdutosBailo</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>